<%- include('../partials/header') %>

<% if (sessionUser) { %>
    <h1>สวัสดี <%= user %>!</h1>

    <button id="toggle-btn">ซ่อนรายการ</button>
    <br / >
    <button id="crud-btn">เพิ่ม / ลบ / แก้ไข</button>
    <br / >
    <button id="pf-btn">My Profile</button>

    <ul id="item-list">
        <% items.forEach(item => { %>
            <li><%= item %></li>
        <% }) %>
    </ul>

    <h2>รายชื่อ Users</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ชื่อ</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(u => { %>
                <tr>
                    <td><%= u.id %></td>
                    <td><%= u.name %></td>
                    <td><%= u.email %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <h1>กรุณา <a href="/login">เข้าสู่ระบบ</a> ก่อนครับ</h1>
<% } %>

<%- include('../partials/footer') %>